* {
  padding: 0px;
  margin: 0px;
  font-family: "微软雅黑";
}
.clearfix {
  clear: both;
}
body {
  background: #333;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 10px;
}
.description {
  padding: 5px;
  display: block;
  font-style: italic;
  color: white;
  background: #7c4b00;
  margin: 5px;
  border-radius: 10px;
  padding: 10px 40px;
}
.calc {
  text-align: center;
  display: none;
  height: 120px;
  background: #333;
}
.formula{
  margin: 0 auto;
  display: inline-block;
}
.formula>div, .formula>select {
  font-size: 4em;
  margin: 5px;
  float: left;
  border-radius: 10px;
}
.calc .num {
  background: #ca6924;
}
.calc select {
  background: #2e4e7e;
}
.calc .num:hover {
  background: #ffc;
}
#equal{
  font-size: 4em;
}
#result {
  text-align: center;
  color: red;
  line-height: 100px;
}
#tips {
  display: none;
  font-size: 3em;
  color: #f05654;
  text-align: center;
}
.num {
  border: solid 1px red;
  width: 100px;
  height: 100px;
  line-height: 100px;
}
.op {
  border: none;
  height: 100px;
}
#start {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 2em;
  display: block;
}
.timerdiv {
  text-align: center;
  display: none;
}
.timer {
  color: red;
  font-size: 2em;
}
#score {
  color: snow;
  text-align: center;
  font-size: 2em;
  display: none;
}
#moves {
  color: snow;
  text-align: center;
  font-size: 2em;
  display: none;
}
#bracketsOptions {
  margin: 0px auto;
  width: 800px;
  height: 180px;
  background: #7c4b00;
  border-radius: 10px;
  display: none;
}
#bracketsOptions div {
  text-align: center;
  margin: 5px;
}
#bracketsOptions li {
  list-style: none;
  float: left;
  display: block;
  margin: 0 0 0 10px;
}
#bracketsOptions li a {
  text-align: center;
  display: block;
  vertical-align: middle;
  height: 120px;
  width: 120px;
  line-height: 120px;
  color: white;
  border-radius: 50%;
}
#bracketsOptions li a:link, bracketsOptions li a:visited {
  background: plum;
}
#bracketsOptions li a:active, #bracketsOptions li a:hover {
  background: crimson;
}

#answer {
  font-size: 3em;
  color: #f05654;
  text-align: center;
}